## Data Science Tools and Ecosystem

###### In this notebook, Data Science Tools and Ecosystem are summarized

###### Objectives:
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List Popular Data Science Libraries
- Evaluate evaluating arithmetic expressions in Python

###### Some of the popular languages that Data Scientists use are:

In [13]:
data_science_languages = [
    "Python",
    "R",
    "SQL",
    "Julia",
    "MATLAB"
]

    # Print the list
print("Popular Data Science Languages:")
for i, language in enumerate(data_science_languages, 1):
    print(f"{i}. {language}")

Popular Data Science Languages:
1. Python
2. R
3. SQL
4. Julia
5. MATLAB

###### Some of the commonly used libraries used by Data Scientists include:

In [16]:
data_science_libraries = [
    "Numpy",
    "Pandas",
    "Matplotlib",
    "Scikit-learn",
    "Seaborn"
]

    # Print the list
print("Popular Data Science Libraries:")
for i, library in enumerate(data_science_libraries, 1):
    print(f"{i}. {library}")

Popular Data Science Libraries:
1. Numpy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. Seaborn

In [28]:
pip install pandas

Requirement already satisfied: pandas in c:\users\tatia\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\tatia\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\tatia\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\tatia\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\tatia\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\tatia\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [30]:
# Import Pandas library
import pandas as pd

# Create a single-column DataFrame
data = {'Data Science Tools': ['Jupyter Notebook', 'RStudio', 'VS Code']}
df = pd.DataFrame(data)

# Display the table
df

  Data Science Tools
0   Jupyter Notebook
1            RStudio
2            VS Code

### Below are a few examples of evaluating arithmetic expressions in Python.

In [35]:
result=((3*4)+5)
print(result)

17

###### This will convert 200 minutes to hours by diving by 60

In [39]:
# conversion factors
x = 200  # minutes
k = 1 / 60  # conversion factor: 1 hour = 60 minutes

# Calculating hours
y = x * k  

# Display the result
print(f"{x} minutes is equal to {y:.2f} hours")

200 minutes is equal to 3.33 hours

## Author
Tatiana